<html>
    <head>
    </head>
    <body>
        <h1>Validate Your Email</h1>
        <p>
          Thanks for signing up for BuildMaven, you're just one step away from bidding and contracting like never before.
        </p>

        <p>
          Just click the button below to verify your email address. This will be where all of your alerts for <b>bidding opportunities, project updates, and account activity</b> will be sent.
        </p>
    </body>
</html>