.page-container {
  height: 100%;
  width: 100%;
}

#review-title-container {
  padding-top: 25px;
  padding-bottom: 25px;

  h1 {
    margin: 0 auto;
    text-align: center;
  }
}

#review-container {
  background-color: whitesmoke;
  margin: 0 auto;
  width: 95%;
  height: 100%;
  display: block;
  height: 500px;
  border: solid 1px black;
  box-shadow: 10px 10px 5px #888;
}

#review-options-container {
  width: 80%;
  margin: 20px auto;

  span {
    margin-top: 50px;
    font-size: 22px;
  }

  span:hover {
    cursor: pointer;
  }
}

#review-comment-text {
  width: 500px;
  height: 250px;
  display: block;
  margin: 10px auto;
}

#submit-review-button {
  width: 500px;
  height: 45px;
  margin: 0 auto;
}

.review-option {
  width: 100%;
  margin: 10px 0px;
  height: 100px;
  border: solid 3px black;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  background-color: orange;
  font-size: 36pt;
  font-weight: bold;

  .option-text {

  }
}

.review-option:hover {
  border: solid 2px black;
  cursor: pointer;
}