.page-container {
  width: 1210px;
  height: 100%;
  margin: 0 auto;
  border: solid 1px black;

  #truck-description-container {

    #photo-container {
      display: inline-block;

      img {
        width: 150px;
        height: 150px;
      }
    }

    #description-container {
      display: inline-block;

      span {
        display: block;
      }
    }

  }
}

@media (max-width: 1200px) {
  .page-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

}

@media (max-width: 800px) {


}