#user-navigation-container {
  background-color: #232f3e;
  width: 400px;
  height: 100%;
  float: left;
  position: absolute;
  left: 0;
  right-border: soild 3px black;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  #image-container {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    border: solid 1px black;

    img {
      width: 100%;
      height: 100%;
    }
  }

  #link-nav-container {
    color: white;
    width: 100%;
    margin: 0 auto;

    a {

      border-top: white 1px solid;
      border-bottom: white 1px solid;
      font-size: 36px;
      text-decoration: none;
      color: white;
      margin: 50px auto;

    div {
      margin: 50px auto;

      span {
        width: 100%;
        height: 40px;
      }

      span:hover {
        text-decoration: underline;
      }
    }
  }

    a:hover {
      text-decoration: underline;
    }

  }
}

#user-navigation-container:before, #user-navigation-container:after
{
  content:"";
  position:absolute;
  z-index:-1;
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:10px;
  bottom:10px;
  left:0;
  right:0;
  border-radius:100px / 10px;
}
#user-navigation-container:after
{
  right:10px;
  left:auto;
  transform:skew(8deg) rotate(3deg);
}