<h3>Rig Review Invite</h3>
<p>
  You have been invited by <%= @company_name %> to RigReviews to
  be a trucker. Please sign in the website using the information
  below.
</p>
<div>
  Username: <%= @trucker_email %>
</div>
<div>
  Temporary Password: <%= @trucker_password %>
</div>

<a href="localhost:3000/login">Login to the site here</a>