<div id="forgot-password-container">

  <h1>Reset Password</h1>

  <div id="forgot-password-input-form-wrapper">

    <p>Enter your email address and we'll send a reset password email</p>
    <div class="input_wrapper">
      <input id="reset-email-address" class="user_login_input" name="reset_email_address" placeholder="email address"/>
    </div>

    <div class="input_wrapper">
      <button id="reset-password-button">Send Reset Email</button>
    </div>

  </div>

</div>