<%= stylesheet_link_tag 'global/search_bar_style' %>

<div id="landing-summary">
  <%= image_tag('branding/rr_logo.png', :id=>'landing_logo') %>
  <h1 style="margin-bottom: 0px;">Search Rig Reviews</h1>
  <p style="text-align: center; font-size: 15pt; font-weight: bold;">Tracking <span style="color: orange; font-weight: bold;" id="truck_total_value"><%= @total_trucks %></span> trucks and counting</p>
</div>

<div id="landing-search-container">
  <div>
    <input id="site-search-bar" style="text-transform:uppercase" maxlength="8" placeholder="enter truck id/license plate"/>
    <button id="search-truck-button" class="rr-submit-button">Search</button>
    <!--<span>For more information hover here</span>-->
  </div>
</div>

<%= javascript_include_tag 'global/search_bar_functionality' %>