<%= stylesheet_link_tag 'global/search_bar_style' %>


<div id="landing-search-container">
  <div>
      <input id="site-search-bar" style="text-transform:uppercase" placeholder="enter truck id/license plate"/>
      <button id="search-truck-button">Search</button>
      <!--<span>For more information hover here</span>-->
  </div>
</div>


<script>

    //Get trucker data here from server

    var trucks = [
        {
            value: "BT74T-5R",
            label: "BT74T-5R",
            desc: "Kroger Hauling Truck",
            icon: "jquery_32x32.png"
        },
        {
            value: "HS-UTZ",
            label: "HS-UTZ",
            desc: "UPS Local Transport Vehicle",
            icon: "jqueryui_32x32.png"
        },
        {
            value: "THHS890",
            label: "THHS890",
            desc: "Best Buy 18-Wheeler That is described as",
            icon: "sizzlejs_32x32.png"
        },
        {
            value: "BT74T-5R",
            label: "BT74T-5R",
            desc: "Kroger Hauling Truck",
            icon: "jquery_32x32.png"
        },
        {
            value: "HS-UTZ",
            label: "HS-UTZ",
            desc: "UPS Local Transport Vehicle",
            icon: "jqueryui_32x32.png"
        },
        {
            value: "THHS890",
            label: "THHS890",
            desc: "Best Buy 18-Wheeler That is described as",
            icon: "sizzlejs_32x32.png"
        },
        {
            value: "BT74T-5R",
            label: "BT74T-5R",
            desc: "Kroger Hauling Truck",
            icon: "jquery_32x32.png"
        },
        {
            value: "HS-UTZ",
            label: "HS-UTZ",
            desc: "UPS Local Transport Vehicle",
            icon: "jqueryui_32x32.png"
        },
        {
            value: "THHS890",
            label: "THHS890",
            desc: "Best Buy 18-Wheeler That is described as",
            icon: "sizzlejs_32x32.png"
        }
    ];

    $( "#site-search-bar" ).autocomplete({
        minLength: 0,
        maxLength: 2,
        source: trucks,
        focus: function( event, ui ) {
            $( "#site-search-bar" ).val( ui.item.label );
            return false;
        },
        source: function(request, response) {
            var results = $.ui.autocomplete.filter(trucks, request.term);

            response(results.slice(0, 5));
        },
        select: function( event, ui ) {
            document.location.href = "http://" + window.location.host + "/" + ui.item.label;
            return false;
        }
    })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
        return $( "<li>" )
                .append( '<a>' + "<b>" + item.label + "</b>" + "<br>" + item.desc + "</a>" )
                .appendTo( ul );
    };
</script>