<div id="user-login-container">

  <h1>Login</h1>

  <div id="user-login-input-form-wrapper">

    <div class="input_wrapper">
      <input id="user-email-address" class="user_login_input" name="user_email_address" placeholder="email address"/>
    </div>

    <div class="input_wrapper">
      <input id="user-password" class="user_login_input" name="user_password" placeholder="password" type="password"/>
    </div>

    <div class="input_wrapper">
      <button id="user-login-button">LogIn</button>
    </div>

    <div id="login-options-container">
      <span id="remember-me"><input id="remember-me-checkbox" name="remember-me" value="remember" type="checkbox"><span>Remember me</span></span>
      <span id="forgot-password"><a href="forgot_password">Forgot Password</a></span>
    </div>

  </div>

</div>
