#landing-nav-bar{
  width: 100%;
  height: 60px;
  background-color: #232f3e;
  border-bottom: solid 2px black;

  #nav-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;

    #brand-logo {
      display: inline-block;
      float: left;
      width: 125px;
      height: 90%;
      margin-left: 25px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    #button-container{
      display: inline-block;
      float: right;
      width: 200px;
      height: 100%;
    }

    button {
      width: 80px;
      height: 80%;
      float: right;
      margin: 5px;
    }
  }

}

@media (max-width: 1000px) {

  #landing-nav-bar {
    width: 100%;
    height: 60px;
    background-color: #0F3B5F;

    #nav-container {
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
  }

}

