#page-content {
  width: 1210px;
  height: 100%;
  margin: 0 auto;
}


@media (max-width: 1200px) {
  #page-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

}

@media (max-width: 800px) {

}