<div class="page-container">
  <div id="review-container">

    <div id="review-title-container">
      <h1 id="review-section-title"></h1>
    </div>
    <div id="review-options-container">


    </div>
    <div id="review-submission-page" style="display: none;">
      <h2>How would you rate this driver?</h2><div id="rateYo"></div>
      <textarea id="review-comment-text" placeholder="add additional comments here"></textarea>
      <button id="submit-review-button" onclick="submitReview();">Submit Review</button>
    </div>

    <div id="review-completed-container" style="display: none;">
      <h1>Thank you for your Review!</h1>
      To search another truck <a href="/">go here</a>
    </div>
  </div>



  <script>
      $(function () {
          $("#rateYo").rateYo({

          });
      });
  </script>
</div>