<div class="page-container">
    <div id="review-container">


      <div id="review-title-container">
        <h1>What type of review is this?</h1>
      </div>
      <div id="review-options-container">

      </div>

    </div>
</div>