<div id="user-navigation-container">

  <div id="image-container">
    <img src=""/>
  </div>

  <div id="link-nav-container">
    <div><a href="/reviews"><span>Reviews</span></a></div>
    <div><a href="/settings"><span>Settings</span></a></div>
      <div><a href="/"><span>Logout</span></a></div>
  </div>

</div>