<html>
<body>

<div class="main">
	<h1>Settings</h1>
	<div class="email">
		<h3>Email</h3>
		<input type="text" id="email" placeholder="Email Address">
	</div>
	<div class="password">
		<h3>Password</h3>
		<div><input type="password" id="password_current" placeholder="Current Password"></div>
		<br>
		<div><input type="password" id="password" placeholder="New Password"></div>
		<div class="inline"><input type="password" id="password_confirm" placeholder="Confirm Password"></div>
		<p id="match" class="inline"></p>
	</div>
	<div class="name">
		<h3>Name</h3>
		<input type="text" id="name" placeholder="Name">
	</div>
	<div class="image_url">
		<h3>Image</h3>
		<input type="text" id="image_url" placeholder="Image URL">
	</div>
	<div class="bio">
		<h3>Bio</h3>
		<textarea rows="5" cols="31" id="bio" placeholder="Bio"></textarea>
	</div>
	<br>
	<button type="button">Submit</button>
</div>

<script>

jQuery('#password_confirm').on('input propertychange paste', function() {
    var p1 = document.getElementById("password").value;
		var p2 = document.getElementById("password_confirm").value;
		if (p1 == p2 && (p1 != "")){
			document.getElementById("match").innerHTML = "&#9989";
		}
		else{
			document.getElementById("match").innerHTML = "";
		}
});

jQuery('#password').on('input propertychange paste', function() {
    var p1 = document.getElementById("password").value;
		var p2 = document.getElementById("password_confirm").value;
		if (p1 == p2 && (p1 != "")){
			document.getElementById("match").innerHTML = "&#9989";
		}
		else{
			document.getElementById("match").innerHTML = "";
		}
});

</script>


</body>
</html>	
