#landing-search-container {
  margin: 10px auto;
  width: 500px;
  display: block;
  position: relative;

  div {
    width: 100%;

    input {
      width: 75%;
      padding-left: 5px;
      height: 35px;
      border-radius: 3px;
      font: 16px arial,sans-serif;
      display: inline-block;
    }

    button {
      height: 40px;
      border-radius: 3px;
      width: 21%;
      display: inline-block;
    }

    span {
      margin: 0 auto;
      display: block;
    }
  }

}

