<div id="admin-nav-bar">

  <div id="brand-logo">
    <a href="admin_dashboard"><img src="assets/branding/placeholder_logo.png"/></a>
  </div>

  <div id="button-container">
    <button id="logout-button">Logout</button>
  </div>
</div>
