
<div id="user-nav-bar">
    <div id="search-bar">
      <a href="/"><img src="assets/branding/rr_logo.png"/></a>
      <input id="site-search-bar" style="text-transform:uppercase" placeholder="enter truck id/license plate"/>
      <button id="search-truck-button">Search</button>
    </div>
  <button class="logout-button">Logout</button>
</div>