<div id="user-nav-bar">
  <div id="brand-logo">
    <a href="compdash"><img src="assets/branding/placeholder_logo.png"/></a>
  </div>

  <%= controller.get_active_user.user_company_name %>

  <div id="button-container">
    <button id="logout-button">Logout</button>
  </div>
</div>
