<div id="user-navigation-container">

  <div id="image-container">
    <img src="/assets/profilepicture.png"/>
  </div>

  <div id="link-nav-container">
    <div><a href="/compdash"><span>Home</span></a></div>
    <div><a href="/truck-manager"><span>Truck Manager</span></a></div>
    <div><a href="/review-manager"><span>Review Manager</span></a></div>
    <div><a href="/settings"><span>Settings</span></a></div>
    <div class="logout-button"><a href="/"><span>Logout</span></a></div>
  </div>

</div>

<div id="user-nav-bar">
  <div id="user-nav-container">
      <div id="nav-logo">
        <a href="/comdash"><img src="/assets/branding/brand_logo.png"/></a>
      </div>

      <div id="nav-menu" class="wrap">
        <ul class="right navbar">
          <li id="menu-selector"><a href="#"></a>
            <ul>
              <li class="nav-list-item"><a href="/compdash">Home</a></li>
              <li class="nav-list-item"><a href="/truck-manager">Truck Manager</a></li>
              <li class="nav-list-item"><a href="/review-manager">Review Manager</a></li>
              <li class="nav-list-item"><a href="/settings">Settings</a></li>
              <li class="nav-list-item"><a href="#" class="logout-button">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
  </div>
</div>
