<div id="user-navigation-container">

  <div id="image-container">
    <img src="/assets/profilepicture.png"/>
  </div>

  <div id="link-nav-container">
    <div><a href="/reviews"><span>Reviews</span></a></div>
    <div><a href="/settings"><span>Settings</span></a></div>
    <div id="logout-button"><a href="/"><span>Logout</span></a></div>
  </div>

</div>

<div id="user-top-navigation-container">
  <button id="logout-button">Logout</button>
</div>
