
<div id="user-nav-bar">
  <div id="user-nav-container" class="top-bar-section">
    <div id="nav-logo">
      <a href="/"><img src="/assets/branding/brand_logo.png"/></a>
    </div>

    <div id="nav-button-container">
      <% if controller.action_name != 'signup' %>
          <button onclick="window.location = 'signup';">Sign Up</button>
      <% end %>

      <% if controller.action_name != 'login' %>
          <button onclick="window.location = 'login';">Login</button>
      <% end %>
    </div>
  </div>
</div>